
$primary-color: #333;
$color-primario: rgb(252, 252, 253);
$color-secundario: #6B6;
$color-texto: #666;

$espaciado-estandar: 10px;
$espaciado-doble: 20px;

$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;



$tipografia-alternativa: 'Times New Roman', Times, serif;
body{
    background-color: $primary-color;
    color: $color-texto;


}
body {
    color: $color-texto;
  
  }
  
  h1 {
    background-color: $color-primario;
    color: $color-texto;
    font-family: $tipografia-alternativa;
    font-size: $fuente-grande;
    padding: $espaciado-estandar;
    text-transform: uppercase;
    border-radius: 12px;
  }
  .btn-prymary:hover{
    background-color: $color-primario;
    border: $fuente-pequena
  }

;



  // v