
$color-primario: black;
$color-secundario: white;
$font-family: Arial, Helvetica, sans-serif;






body{
    background-color: $color-primario;
    font-family: $font-family;
    color: $color-secundario;
    font-size: 30px;
    

}

